.search {

    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    justify-content: center;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    
    
    .left {

        display: flex;
        flex-direction: row;
        width: 70%;
        
        align-items: center;
        margin-left: 10vw;
        height: 100%;
        align-content: center;

        p {
            font-size: 0.96875rem;
        }
        

        img {

            margin-right: 1.5vw;
        }
        
        input{

            outline: 0;
            border: none;
            line-height: 19px;
            background-color: transparent;

            input [type="text"] {
                font-size: 0.96875rem;
            }
        }
    }

    .right {

        display: flex;
        flex-direction: row;
        width: 30%;
        justify-content: flex-start;
        align-items: center;
        justify-content: space-evenly;
        margin-right: 10vw;
        height: 100%;

        .liked {

            display: flex;
            border-bottom: 2px solid #000000;
            height: inherit;
            align-items: center;

        }

        .friends {
            display: flex;
            height: inherit;
            align-items: center;
        }

        .follow {
            display: flex;
            height: inherit;
            align-items: center;
        }
    }
}